## Monthly Plant ID test

In [2]:
# load libraries
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import random

from IPython.display import clear_output
from IPython.display import display, HTML
display(HTML("<style>div.output_scroll { height: 55em; }</style>"))

display(HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>'''))

from IPython.display import clear_output

monero = input("Enter your 3-letter code: ").upper()
month = input("Enter test month (as integer): ")

fruit = pd.read_excel("fruits_top30_by_month.xlsx", keep_default_na = False)
fruit = fruit[(fruit['Month'].astype(str)==month)]
fruit = list(set(fruit.plant))
random.shuffle(fruit)

pictures = os.listdir("plants/")

answers = {}

for f in fruit:
    print("++++++++++++++++++++++++++++++")
    pics = [x for x in pictures if x[0:2]==f][0:6]
    random.shuffle(pics)
    if len(pics) > 0:
        fig, axarr = plt.subplots(2,3, figsize=(15, 10))
        for i in range(0,len(pics)):
            img = mpimg.imread(f"plants/{pics[i]}")
            if i < 3:
                row = 0
                col = i
            else:
                row = 1
                col = i - 3
            axarr[row,col].imshow(img)
        plt.show()
        choice = input("Enter 2-letter code of plant: ")
        entry = {f : choice}
        answers.update(entry)
        plt.close()
        clear_output(wait=True)
    else:
        print(f"no photos available for {f}")

df = pd.DataFrame(answers.items(), columns=['plant', f"answer"])
df['answer'] = df['answer'].str.upper()
df['score'] = 1
df.loc[df['plant']!=df['answer'], "score"] = 0
df.to_excel(f"tests/MonthlyPlantTest_{month}_{monero}.xlsx", index=False)

score = df["score"].sum()/len(df)
print(f"Your score: {score}")
print("Goodbye, and have a nice day!")
df

Your score: 0.0
Goodbye, and have a nice day!

   plant answer  score
0     RY             0
1     FG             0
2     TR             0
3     OK             0
4     BS             0
5     AC             0
6     MC             0
7     WG             0
8     DO             0
9     FB             0
10    MM             0
11    MN             0
12    PR             0
13    BP             0
14    MB             0
15    PP             0
16    HC             0
17    JM             0
18    UV             0
19    AL             0
20    CY             0
21    EP             0
22    CI             0
23    SV             0
24    LC             0
25    AS             0
26    HP             0
27    SS             0