In [1]:
from IPython.display import display, HTML
from IPython.display import clear_output
display(HTML("<style>div.output_scroll { height: 55em; }</style>"))

# load libraries
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import random

monero = input("Enter your 3-letter observer code: ")
month = input("Enter test month as integer (e.g., 3): ")

fruit = pd.read_csv("fruits_top30_by_month.csv", keep_default_na = False)
fruit = fruit[(fruit['Month'].astype(str)==month)]
fruit = list(set(fruit.plant))
random.shuffle(fruit)

pictures = os.listdir("plants/")

answers = {}

for f in fruit:
    print("++++++++++++++++++++++++++++++")
    pics = [x for x in pictures if x[0:2]==f][0:6]
    random.shuffle(pics)
    if len(pics) > 0:
        fig, axarr = plt.subplots(2,3, figsize=(15, 10))
        for i in range(0,len(pics)):
            img = mpimg.imread(f"plants/{pics[i]}")
            if i < 3:
                row = 0
                col = i
            else:
                row = 1
                col = i - 3
            axarr[row,col].imshow(img)
        plt.show()
        choice = input("Enter 2-letter code of plant: ")
        entry = {f : choice}
        answers.update(entry)
        plt.close()
        clear_output(wait=True)
    else:
        print(f"no photos available for {f}")

df = pd.DataFrame(answers.items(), columns=['plant', f"answer"])
df['answer'] = df['answer'].str.upper()
df['score'], df['month'], df['ohh'] = 1, month, monero
df.loc[df['plant']!=df['answer'], "score"] = 0

score = df["score"].sum()/len(df)
print(f"Your score: {score}")
print("Goodbye, and have a nice day!")

df = df[['month','ohh','plant','answer','score']]
df

Your score: 0.5172413793103449
Goodbye, and have a nice day!

   month plant answer  score
0      3    DR     GE      0
1      3    HR     AL      0
2      3    SB     SB      1
3      3    MP     BA      0
4      3    BP     BP      1
5      3    AE     AE      1
6      3    CU     GE      0
7      3    SG     WG      0
8      3    LC     LC      1
9      3    MG     AL      0
10     3    BL     AR      0
11     3    FG     FG      1
12     3    PN     PN      1
13     3    GU     GU      1
14     3    DD     DD      1
15     3    CS     AR      0
16     3    BS     BS      1
17     3    RA     RA      1
18     3    TB     TP      0
19     3    PA     PA      1
20     3    CB     AR      0
21     3    ST     LS      0
22     3    GE     XF      0
23     3    RS     RS      1
24     3    EM     EM      1
25     3    AO     AO      1
26     3    CO     DD      0
27     3    MN     MN      1
28     3    AR     AL      0